.container {
  text-align: center;
  font-family: "Roboto", sans-serif; }

.image img {
  min-width: 140px; }

#content {
  margin-top: 80px;
  margin-left: 15%; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px; }

.imageText {
  margin-left: 50px;
  text-align: left; }
  @media screen and (max-width: 769px) {
    .imageText {
      margin-left: 10px; } }

.head1 {
  text-decoration: none;
  font-size: 25px;
  width: 90%; }

.head2 {
  width: 75%;
  margin-top: 10px; }

.head3 {
  font-size: 12px;
  width: 90%;
  margin-top: 20px; }

.head1 a:hover {
  text-decoration: none; }
